version: '3.4'

# Microservices
services:
  # Devices.API - service
  devices.api:
    image: ${DOCKER_REGISTRY-}devicesapi
    build:
      context: .
      dockerfile: Services/Devices/Devices.API/Dockerfile

  # Devices.GRPC - service
  devices.grpc:
    image: ${DOCKER_REGISTRY-}devicesgrpc
    build:
      context: .
      dockerfile: Services/Devices/Devices.GRPC/Dockerfile

  # Measurements.API - service
  measurements.api:
    image: ${DOCKER_REGISTRY-}measurementsapi
    build:
      context: .
      dockerfile: Services/Measurements/Measurements.API/Dockerfile

  # Measurements.GRPC - service
  measurements.grpc:
    image: ${DOCKER_REGISTRY-}measurementsgrpc
    build:
      context: .
      dockerfile: Services/Measurements/Measurements.GRPC/Dockerfile

  # AiAssistant.GRPC - service
  aiassistant.grpc:
    image: ${DOCKER_REGISTRY-}aiassistantgrpc
    build:
      context: .
      dockerfile: Services/AiAssistant/AiAssistant.GRPC/Dockerfile

  # Raports.API - service
  raports.api:
    image: ${DOCKER_REGISTRY-}raportsapi
    build:
      context: .
      dockerfile: Services/Raports/Raports.API/Dockerfile

  # Ollama container - runing LLMs
  ollama:
    image: ollama/ollama

  # RabbitMQ
  rabbitmq:
    image: rabbitmq:management

  apigateway.main:
    image: ${DOCKER_REGISTRY-}apigatewaymain
    build:
      context: .
      dockerfile: ApiGateways/ApiGateway.Main/Dockerfile

  emulator.devices:
    image: ${DOCKER_REGISTRY-}emulatordevices
    build:
      context: .
      dockerfile: Services/Emulators/Emulator.Devices/Dockerfile

volumes:
    ms_sql_devices:
    ollama_volume:
