version: '3.4'

services:
    # Device Database 
    devices.db:
        image: mcr.microsoft.com/mssql/server:2022-latest

    # Devices.API - service
    devices.api:
        image: ${DOCKER_REGISTRY-}devicesapi
        build:
            context: .
            dockerfile: Services/Devices/Devices.API/Dockerfile

    # Measurements.API - service
    measurements.api:
        image: ${DOCKER_REGISTRY-}measurementsapi
        build:
            context: .
            dockerfile: Services/Measurements/Measurements.API/Dockerfile

    # Raports Database 
    raports.db:
        image: mcr.microsoft.com/mssql/server:2022-latest

    # Raports.API - service
    raports.api:
        image: ${DOCKER_REGISTRY-}raportsapi
        build:
            context: .
            dockerfile: Services/Raports/Raports.API/Dockerfile

    # Gateway.Main - service
    gateways.main:
        image: ${DOCKER_REGISTRY-}gatewaysmain
        build:
            context: .
            dockerfile: Services/Gateways/Gateways.Main/Dockerfile

    # Emulators Database 
    emulators.db:
        image: mcr.microsoft.com/mssql/server:2022-latest

    # Emulators.WebApp - service
    emulators.webapp:
        image: ${DOCKER_REGISTRY-}emulatorswebapp
        build:
            context: .
            dockerfile: Services/Emulators/Emulators.WebApp/Dockerfile