version: '3.4'

services:
  # Devices.API - service
  devices.api:
    image: ${DOCKER_REGISTRY-}devicesapi
    build:
      context: .
      dockerfile: Services/Devices/Devices.API/Dockerfile

  # Devices.GRPC - service
  devices.grpc:
    image: ${DOCKER_REGISTRY-}devicesgrpc
    build:
      context: .
      dockerfile: Services/Devices/Devices.GRPC/Dockerfile

  # Measurements.API - service
  measurements.api:
    image: ${DOCKER_REGISTRY-}measurementsapi
    build:
      context: .
      dockerfile: Services/Measurements/Measurements.API/Dockerfile

  # Measurements.GRPC - service
  measurements.grpc:
    image: ${DOCKER_REGISTRY-}measurementsgrpc
    build:
      context: .
      dockerfile: Services/Measurements/Measurements.GRPC/Dockerfile

  # Raports.API - service
  raports.api:
    image: ${DOCKER_REGISTRY-}raportsapi
    build:
      context: .
      dockerfile: Services/Raports/Raports.API/Dockerfile

  # Gateway.Main - service
  gateways.main:
    image: ${DOCKER_REGISTRY-}gatewaysmain
    build:
      context: .
      dockerfile: Services/Gateways/Gateways.Main/Dockerfile

  # Emulator.Devices - service
  emulator.devices:
    image: ${DOCKER_REGISTRY-}emulatordevices
    build:
      context: .
      dockerfile: Services/Emulators/Emulator.Devices/Dockerfile